body, html {
  height: 100%;
}

.textcontainer {
  margin: auto;
  max-width: 960px;
  padding: 32px;
  font-size: 16px;
}

.bg-black {
  background-color: #16181a !important;
}
a.bg-black:focus, a.bg-dark:hover, button.bg-dark:focus, button.bg-dark:hover {
  background-color: #0a0c0e!important;
}

.text-light-blue {
  color: #4fe3ff !important;
}
a.text-light-blue:focus, a.text-light-blue:hover {
  color: #03b9ff !important;
}
