body {
  font-family: Helvetica, sans-serif;
  margin: 0 auto !important;
  min-height: 100vh;
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333;
  padding: 0px !important;
}

.navmenu .name {
  color: white;
  font-size: 24px;
  position: absolute;
  font-family: Verdana, sans-serif;
  padding: 14px 16px 18px 4px;
  text-align: center;
}

.navbar .name img {
  height: 20px;
  margin-right: 10px;
}

.navmenu {
  max-width: 896px;
  min-height: 60.8px;
  padding-left: 64px;
  padding-right: 64px;
  margin: auto;
  position: relative;
}

.navbar ul {
  list-style-type: none;
  margin: 0 auto !important;
  padding: 0 auto !important;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.navbar .midsection li a:hover, .dropdown:hover .dropbtn {
  background-color: #000;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000 !important;
}

.dropdown-content a {
  float: none !important;
  color: black !important;
  padding: 10px 16px !important;
  text-decoration: none !important;
  display: block !important;
  text-align: left !important;
  z-index: 1001 !important;
}

.dropdown-content a:hover {
  background-color: #ccc !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar li .active {
  background-color: #111;
}

.dropdown-content .active {
  background-color: #ddd !important;
}

a {
  color: DodgerBlue;
  text-decoration: none;
}

main {
  overflow-x: hidden;
}

main h1 {
  font-size: 36px;
  margin-top: 0px;
}

main h2 {
  margin-top: 36px;
}

.midbox {
  margin: auto;
  max-width: 960px;
  padding: 32px;
  padding-top: calc(32px + 60.8px);
  font-size: 16px;
}

footer {
  background-color: #111;
  height: auto;
  width: 100%;
  margin-top: 64px;
  bottom: 0% !important;
  position: absolute;
  overflow-x: hidden;
}

.fmenu {
  margin: auto;
  max-width: 896px;
  padding: 10px 64px;
  color: #ccc;
  height: auto;
  font-size: 12px;
}

.fmenu a {
  color: SteelBlue;
}

.fmenu p {
  margin-top: 0px;
  margin-bottom: 5px;
}
